<div>
  <div class="card">
    <div class="card-header">
      Column Chart
      <div class="card-header-actions">
        <a href="/dashboard">
          <small class="text-muted">docs</small>
        </a>
      </div>
    </div>
    <highcharts-chart class="chart-cases" 
      [Highcharts]="Highcharts" 
      [options]="chartOptions"
      [(update)]="updateFromInput" 
      [oneToOne]="true">
    </highcharts-chart>
  </div>
  <div class="card">
    <div class="card-header">
      Column Chart
      <div class="card-header-actions">
        <a href="/dashboard">
          <small class="text-muted">docs</small>
        </a>
      </div>
    </div>
    <highcharts-chart class="chart-cases" [Highcharts]="Highcharts" [options]="chartOptions1"
      [(update)]="updateFromInput" [oneToOne]="true">
    </highcharts-chart>
  </div>
  <div class="card">
    <div class="card-header">
     Pie Chart
      <div class="card-header-actions">
        <a href="/dashboard">
          <small class="text-muted">docs</small>
        </a>
      </div>
    </div>
    <highcharts-chart class="chart-cases" [Highcharts]="Highcharts" [options]="chartOptions2"
      [(update)]="updateFromInput" [oneToOne]="true">
    </highcharts-chart>
  </div>
  <div class="card">
    <div class="card-header">
     Pie Chart
      <div class="card-header-actions">
        <a href="/dashboard">
          <small class="text-muted">docs</small>
        </a>
      </div>
    </div>
    <highcharts-chart class="chart-cases" [Highcharts]="Highcharts" [options]="chartOptions3"
      [(update)]="updateFromInput" [oneToOne]="true">
    </highcharts-chart>
  </div>

  <div class="card">
    <div class="card-header">
      Line Chart
      <div class="card-header-actions">
        <a href="/dashboard">
          <small class="text-muted">docs</small>
        </a>
      </div>
    </div>
    <highcharts-chart class="chart-cases" [Highcharts]="Highcharts" [options]="chartOptions4"
      [(update)]="updateFromInput" [oneToOne]="true">
    </highcharts-chart>
  </div>


</div>
