<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Line Chart
      <div class="card-header-actions">
        <a href="/dashboard">
          <small class="text-muted">docs</small>
        </a>
      </div>
    </div>
    <highcharts-chart style="width:1087;"  [Highcharts]="Highcharts" [options]="chartOptions4"
      [(update)]="updateFromInput" [oneToOne]="true">
    </highcharts-chart>
  </div>
  <div class="card">
    <div class="card-header">
     Pie Chart
      <div class="card-header-actions">
        <a href="/dashboard">
          <small class="text-muted">docs</small>
        </a>
      </div>
    </div>
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions2"
      [(update)]="updateFromInput" [oneToOne]="true">
    </highcharts-chart>
   
  </div>
  <div class="card">
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions3"
    [(update)]="updateFromInput" [oneToOne]="true">
  </highcharts-chart>
</div>
</div>
